

$fonts-headline: "Atomic Age", Verdana, sans-serif;
$fonts-body: "Neuton", Georgia, serif;
$background-color: #daede2;
$primary: #4E598C;
$accent1: #FF8C42;
$accent2: #F9C7E4;
$accent3: #fff;
$text-dark: #333;
$text-light: #fff;
