$fonts-headline: "Atomic Age", Verdana, sans-serif;
$fonts-body: "Neuton", Georgia, serif;
$background-color: #daede2;
$primary: #4e598c;
$accent1: #ff8c42;
$accent2: #f9c7e4;
$accent3: #fff;
$text-dark: #333;
$text-light: #fff;
